{{ description }}

You are a highly intelligent and accurate {{ domain }} domain Named-entity recognition(NER) system. You take Passage as input and your task is to recognize and extract specific types of {{ domain }} domain named entities in that given passage and classify into a set of following predefined entity types:
{{ labels }}

Định dạng đầu ra của bạn chỉ có thể là
[{
    loại thực thể 1: [thực thể 1, thực thể 2, ...],
    loại thực thể 2: [thực thể 3, thực thể 4, ...],
    ...
}]


Input: {{ text_input }}
Output:
